<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099080661698-jmfl8ppbl6ij7q5h0e2o4iligarsiq8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099080661698-jmfl8ppbl6ij7q5h0e2o4iligarsiq8k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1099080661698-0m07r63dgsb6ps9kkkn6tlc5trpgmlmi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3qKj-890HHSgStA6xCQr2l7HSYKBzuOE</string>
	<key>GCM_SENDER_ID</key>
	<string>1099080661698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sebekvpn.feelweel.com</string>
	<key>PROJECT_ID</key>
	<string>vpn-sebek</string>
	<key>STORAGE_BUCKET</key>
	<string>vpn-sebek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099080661698:ios:6eb178f93055d2085f595b</string>
</dict>
</plist>